{% extends 'index.html' %}
{% load static %}
{% block title %}Home | BuyNotes{% endblock %}

{% block content %}

<div class="section">
    <div class="main">
        <h2>From <span style="color: #f08080;">Study Materials</span> to <span style="color: #f08080;">Code
                Projects</span>, We've Got You</h2>
        <p>Your destination for coding excellence. Explore digital resources and expert-led courses to supercharge your
            programming journey.</p>
        <a href="/products/?category=Notes" class="btn btn-dark btn-fixed-width">Download Notes</a>
        <a href="/products/?category=Projects" class="btn btn-dark btn-fixed-width mt-3">Download Project</a>
    </div>
</div>
{% endblock %}