{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}ChangePassword | BuyNotes{% endblock %}

{% block content %}
<div class="custom-card">
    
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endfor %}
    {% endif %}
    
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    



    {% if name == 'passwordChange' %}

    <h3 class="card-title mb-4">Change Password</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark btn-block mt-4">Update</button>
    </form>

    {% elif name == 'passwordChangeDone' %}
    
    <h3 class="card-title mb-4">Password Updated</h3>
    <p>Your password has been updated. You may go ahead.</p>
    <a href="" class="btn btn-block btn-dark">Back To Profile</a>

    {% endif %}

</div>
{% endblock %}