{% extends 'index.html' %}
{% load static %}
{% block title %}Payment Success | BuyNotes{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="message-box _success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <p class="mt-4">Your transaction has been completed successfully. We have emailed you details of your order.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}